
body {
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
 }

.large-header {
    position: relative;
    width: 100%;
    
    overflow: hidden;
    background-size: 100%;
    background-position: center center;
    z-index: 1;
 }
 
 
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: rgb(98, 196, 155);
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 


 .text-effect {
    overflow: hidden;
    
    position: center;
    
    -webkit-filter: contrast(110%) brightness(190%);
            filter: contrast(110%) brightness(190%);
  }
  
  .neon {
    
    position: center;
    
    background: rgb(0, 0, 0);
    color: transparent;
  }
  .neon::before, .neon::after {
    content: attr(data-text);
    color: white;
    -webkit-filter: blur(0.02em);
            filter: blur(0.02em);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .neon::after {
    mix-blend-mode: difference;
  }
  
  .gradient,
  .spotlight {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
  }
  
  .gradient {
    background: linear-gradient(45deg, rgb(72, 255, 0), rgb(255, 230, 0));
    mix-blend-mode: multiply;
  }
  
  .spotlight {
    -webkit-animation: light 5s infinite linear;
            animation: light 5s infinite linear;
    background: radial-gradient(circle, white, transparent 30%) 0 0/25% 25%, radial-gradient(circle, white, black 25%) 50% 50%/12.5% 12.5%;
    top: -100%;
    left: -100%;
    mix-blend-mode: color-dodge;
  }
  
  @-webkit-keyframes light {
    100% {
      -webkit-transform: translate3d(50%, 50%, 0);
              transform: translate3d(50%, 50%, 0);
    }
  }
  
  @keyframes light {
    100% {
      -webkit-transform: translate3d(50%, 50%, 0);
              transform: translate3d(50%, 50%, 0);
    }
  }
  .neon {
    font: 700 220px 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
  .neon:focus {
    outline: none;
    border: 1px dotted white;
  }
  
  body {
    background: black;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  




 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }

 @media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}